#app {
    width: 100vw;
    height: 100vh;
}
.full-size {
    width: 100%;
    height: 100%;
}

.leaflet-tooltip.no-bg-tooltip {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    font-weight: bold; /* optionnel */
}

span.MuiSlider-markLabel.MuiSlider-markLabel[data-index='3'] {
    color: #452299 !important; /* Couleur du texte */
    font-weight: bold; /* Mettre le texte en gras */
}
